# Udev rule to allow fa_sniffer to be world readable and to create geographic id
# Copy this file to /etc/udev/rules.d

SUBSYSTEM=="fa_sniffer", MODE="0444", IMPORT{builtin}="path_id", SYMLINK+="fa_sniffer/$env{ID_PATH}", OPTIONS="last_rule"
